.titulo{
    text-align: start;
    font-weight: bolder;

    .titulo_principal {
        text-align: start;
        font-weight: bolder;
    }

    .titulo_principaldos{
        text-align: start;
        font-weight:bolder;
    }
}